body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #e5e8e8;
}

header {
    height: 80px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.cabecalho {
    display: flex;
    background-color: #34a4eb;
    margin-left: 0;
}

.cabecalho_titulo {
    margin-left: 42%;
    margin-top: 18px;
}

.middle {
    display: flex;
    justify-content: center;
}

.border-especification-top {
    border-top: 1px solid;
}

.border-especification-right {
    border-right: 1px solid;

}
.border-especification-left {
    border-left: 1px solid;
}

input::-webkit-inner-spin-button {
    appearance: none;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.formulario {
    margin-left: 50px;
}